name: enroll_plugin
description: "eNROLL is a compliance solution designed to prevent identity fraud and phishing, especially in large populations. Powered by AI technologies like OCR, it reduces human error and speeds up identification. Globally trusted, eNROLL ensures secure and efficient identity verification."
version: 1.0.3
repository: "https://github.com/LuminSoft/eNROLL-Flutter/tree/master"

environment:
  sdk: '>=3.3.4 <4.0.0'
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0


flutter:

  plugin:
    platforms:
      android:
        package: com.example.enroll_plugin
        pluginClass: EnrollPlugin
      ios:
        pluginClass: EnrollPlugin
